SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pen](
	[penID] [bigint] IDENTITY(2378,1) NOT NULL,
	[pendiamID] [bigint] NULL,
	[wallThickness] [bigint] NULL,
	[partID] [bigint] NULL,
 CONSTRAINT [PK_pen] PRIMARY KEY CLUSTERED 
(
	[penID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
