SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[posdef_synonims](
	[synID] [bigint] IDENTITY(8,1) NOT NULL,
	[posdefID] [bigint] NOT NULL,
	[posdefName] [varchar](150) NOT NULL,
 CONSTRAINT [PK_posdef_synonims] PRIMARY KEY CLUSTERED 
(
	[synID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
