SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[object](
	[objID] [bigint] IDENTITY(16,1) NOT NULL,
	[objName] [varchar](100) NULL,
	[objDescription] [varchar](100) NULL,
	[itable] [varchar](50) NULL,
	[ctable] [varchar](50) NULL,
	[idName] [varchar](50) NULL,
 CONSTRAINT [PK_object] PRIMARY KEY CLUSTERED 
(
	[objID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
