SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[r_usr_catalog](
	[relID] [bigint] IDENTITY(1,1) NOT NULL,
	[usrID] [bigint] NOT NULL,
	[catID] [bigint] NOT NULL,
 CONSTRAINT [PK_r_usr_catalog] PRIMARY KEY CLUSTERED 
(
	[relID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
