SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ms_elem_attrib_codes](
	[acID] [bigint] IDENTITY(10,1) NOT NULL,
	[acCode] [varchar](3) NOT NULL,
	[acDescription] [varchar](100) NULL,
	[acLongDescription] [varchar](1000) NULL,
 CONSTRAINT [PK_ms_elem_attrib_codes] PRIMARY KEY CLUSTERED 
(
	[acID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
