SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pdset](
	[pdsID] [bigint] IDENTITY(1,1) NOT NULL,
	[pdsName] [varchar](250) NULL,
	[partdefID] [bigint] NOT NULL,
	[massRoundNumDigits] [int] NOT NULL,
 CONSTRAINT [PK_pdset] PRIMARY KEY CLUSTERED 
(
	[pdsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[pdset] ADD  CONSTRAINT [DF_pdset_partdefID]  DEFAULT ((0)) FOR [partdefID]
GO
ALTER TABLE [dbo].[pdset] ADD  CONSTRAINT [DF_pdset_massRoundNumDigits]  DEFAULT ((0)) FOR [massRoundNumDigits]
GO
