SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ms_ring](
	[ringID] [bigint] IDENTITY(25,1) NOT NULL,
	[ringWidth] [real] NOT NULL,
	[ringRadius] [real] NOT NULL,
 CONSTRAINT [PK_ring] PRIMARY KEY CLUSTERED 
(
	[ringID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
