SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[department](
	[depID] [bigint] IDENTITY(6,1) NOT NULL,
	[depName] [varchar](50) NOT NULL,
	[specID] [bigint] NULL,
	[pdsID] [bigint] NOT NULL,
 CONSTRAINT [PK_department] PRIMARY KEY CLUSTERED 
(
	[depID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[department] ADD  CONSTRAINT [DF_department_pdsID]  DEFAULT ((0)) FOR [pdsID]
GO
