SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cattype](
	[catTypeID] [bigint] IDENTITY(3,1) NOT NULL,
	[catTypeName] [varchar](250) NULL,
	[partdefID] [bigint] NOT NULL,
	[treeNodeNum] [varchar](50) NOT NULL,
 CONSTRAINT [PK_cattype] PRIMARY KEY CLUSTERED 
(
	[catTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[cattype] ADD  DEFAULT ((0)) FOR [partdefID]
GO
ALTER TABLE [dbo].[cattype] ADD  DEFAULT ((0)) FOR [treeNodeNum]
GO
