SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type-object](
	[toID] [bigint] IDENTITY(30,1) NOT NULL,
	[typeID] [bigint] NOT NULL,
	[objectID] [bigint] NOT NULL,
 CONSTRAINT [PK_type-object] PRIMARY KEY CLUSTERED 
(
	[toID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
