SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[partsys](
	[sysID] [bigint] IDENTITY(1,1) NOT NULL,
	[sysName] [varchar](20) NOT NULL,
	[projectID] [bigint] NOT NULL,
 CONSTRAINT [PK_partsys_1] PRIMARY KEY CLUSTERED 
(
	[sysID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[partsys] ADD  CONSTRAINT [DF_partsys_projectID]  DEFAULT ((0)) FOR [projectID]
GO
