SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[operationslog](
	[oplogID] [bigint] IDENTITY(139841,1) NOT NULL,
	[oplogDate] [datetime] NULL,
	[operID] [bigint] NULL,
	[objID] [bigint] NULL,
	[objectID] [bigint] NULL,
	[usrID] [bigint] NULL,
	[oplogSuccess] [bit] NULL,
	[what] [varchar](150) NULL,
 CONSTRAINT [PK_operationslog] PRIMARY KEY CLUSTERED 
(
	[oplogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [_dta_index_operationslog_5_1173579219__K5_K4_K6_K1_K3_2_8] ON [dbo].[operationslog]
(
	[objectID] ASC,
	[objID] ASC,
	[usrID] ASC,
	[oplogID] ASC,
	[operID] ASC
)
INCLUDE([oplogDate],[what]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [objectID] ON [dbo].[operationslog]
(
	[objectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [objID] ON [dbo].[operationslog]
(
	[objID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [operID] ON [dbo].[operationslog]
(
	[operID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [usrID] ON [dbo].[operationslog]
(
	[usrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[operationslog] ADD  DEFAULT ((0)) FOR [oplogSuccess]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE TRIGGER [dbo].[operationslog_AfterInsTrig] 
ON  [dbo].[operationslog] 
FOR INSERT
   AS 
   IF trigger_nestlevel() = 1
   update [operationslog] set oplogDate = CURRENT_TIMESTAMP where [operationslog].oplogID =(select oplogID from inserted)


GO
ALTER TABLE [dbo].[operationslog] ENABLE TRIGGER [operationslog_AfterInsTrig]
GO
