SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[r_room_propertylist](
	[relID] [bigint] IDENTITY(1,1) NOT NULL,
	[roomID] [bigint] NOT NULL,
	[propID] [bigint] NOT NULL,
	[valueID] [bigint] NOT NULL,
 CONSTRAINT [PK_r_room_propertylist] PRIMARY KEY CLUSTERED 
(
	[relID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
