SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ms_construct](
	[constructID] [bigint] IDENTITY(206,1) NOT NULL,
	[constructName] [varchar](50) NOT NULL,
	[constructLength] [real] NOT NULL,
	[stdID] [bigint] NOT NULL,
	[posdefID] [bigint] NOT NULL,
 CONSTRAINT [PK_construct] PRIMARY KEY CLUSTERED 
(
	[constructID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
