SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ms_cell_rectpen](
	[cellID] [bigint] IDENTITY(1,1) NOT NULL,
	[cellName] [varchar](50) NULL,
	[clID] [bigint] NULL,
 CONSTRAINT [PK_ms_cell_rectpen] PRIMARY KEY CLUSTERED 
(
	[cellID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
