SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[filter_out](
	[ftID] [bigint] IDENTITY(1,1) NOT NULL,
	[ftPath] [varchar](500) NOT NULL,
	[bldID] [bigint] NOT NULL,
 CONSTRAINT [PK_filter_out] PRIMARY KEY CLUSTERED 
(
	[ftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
