SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ms_strap](
	[strapID] [bigint] IDENTITY(404,1) NOT NULL,
	[strapLength] [real] NOT NULL,
	[strapWidth] [real] NOT NULL,
 CONSTRAINT [PK_strap] PRIMARY KEY CLUSTERED 
(
	[strapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
