SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[partstatus](
	[psID] [bigint] IDENTITY(5,1) NOT NULL,
	[psValue] [bigint] NOT NULL,
	[psDescr] [varchar](50) NULL,
 CONSTRAINT [PK_partstatus] PRIMARY KEY CLUSTERED 
(
	[psID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[partstatus] ADD  DEFAULT ((0)) FOR [psValue]
GO
