SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[r_masscalc_property](
	[relID] [bigint] IDENTITY(19,1) NOT NULL,
	[mcID] [bigint] NOT NULL,
	[propID] [bigint] NOT NULL,
 CONSTRAINT [PK_r_masscalc_property] PRIMARY KEY CLUSTERED 
(
	[relID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
