SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[propertyvalue](
	[propvalID] [bigint] IDENTITY(4,1) NOT NULL,
	[propvalName] [varchar](100) NULL,
 CONSTRAINT [PK_propertyvalue] PRIMARY KEY CLUSTERED 
(
	[propvalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
