SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[r_object_catalog](
	[ID] [bigint] IDENTITY(364,1) NOT NULL,
	[objID] [bigint] NOT NULL,
	[objectID] [bigint] NOT NULL,
	[catalogID] [bigint] NOT NULL
) ON [PRIMARY]
GO
CREATE CLUSTERED INDEX [_dta_index_r_object_catalog_c_5_50099219__K4] ON [dbo].[r_object_catalog]
(
	[catalogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_r_object_catalog_5_50099219__K2_K3_K4] ON [dbo].[r_object_catalog]
(
	[objID] ASC,
	[objectID] ASC,
	[catalogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_r_object_catalog_5_50099219__K2_K4_3] ON [dbo].[r_object_catalog]
(
	[objID] ASC,
	[catalogID] ASC
)
INCLUDE([objectID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_r_object_catalog_5_50099219__K3_K2_K4] ON [dbo].[r_object_catalog]
(
	[objectID] ASC,
	[objID] ASC,
	[catalogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_r_object_catalog_5_50099219__K4_K2_3] ON [dbo].[r_object_catalog]
(
	[catalogID] ASC,
	[objID] ASC
)
INCLUDE([objectID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
