SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[operation](
	[operID] [bigint] IDENTITY(7,1) NOT NULL,
	[operName] [varchar](50) NULL,
	[operDescr] [varchar](250) NULL,
 CONSTRAINT [PK_operation] PRIMARY KEY CLUSTERED 
(
	[operID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
