SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ms_opening](
	[openingID] [bigint] IDENTITY(26,1) NOT NULL,
	[openingWidth] [real] NOT NULL,
	[openingHeight] [real] NOT NULL,
 CONSTRAINT [PK_opening] PRIMARY KEY CLUSTERED 
(
	[openingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
