SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[r_catalog_part](
	[relID] [bigint] IDENTITY(1407,1) NOT NULL,
	[catID] [bigint] NOT NULL,
	[partID] [bigint] NOT NULL,
	[partLinkName] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON
GO
CREATE CLUSTERED INDEX [_dta_index_r_catalog_part_c_5_2069582411__K2_K3] ON [dbo].[r_catalog_part]
(
	[catID] ASC,
	[partID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_r_catalog_part_5_2069582411__K1_2_3] ON [dbo].[r_catalog_part]
(
	[relID] ASC
)
INCLUDE([catID],[partID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_r_catalog_part_5_2069582411__K3_K2_1] ON [dbo].[r_catalog_part]
(
	[partID] ASC,
	[catID] ASC
)
INCLUDE([relID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
