SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[docsettype](
	[dstID] [bigint] IDENTITY(1,1) NOT NULL,
	[dstName] [varchar](150) NULL,
 CONSTRAINT [PK_docsettype] PRIMARY KEY CLUSTERED 
(
	[dstID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
