SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ms_partsys](
	[mslink] [bigint] IDENTITY(292,1) NOT NULL,
	[partsysName] [varchar](50) NULL,
 CONSTRAINT [PK_partsys] PRIMARY KEY CLUSTERED 
(
	[mslink] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
