SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ms_cell_library](
	[clID] [bigint] IDENTITY(6,1) NOT NULL,
	[clName] [varchar](50) NULL,
	[clTableName] [varchar](50) NULL,
	[clFileName] [varchar](250) NULL,
	[clFileData] [varbinary](max) NULL,
 CONSTRAINT [PK_ms_cell] PRIMARY KEY CLUSTERED 
(
	[clID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
