SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[propertylist](
	[plID] [bigint] IDENTITY(1,1) NOT NULL,
	[propID] [bigint] NOT NULL,
	[plValue] [varchar](100) NOT NULL,
 CONSTRAINT [PK_propertylist] PRIMARY KEY CLUSTERED 
(
	[plID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
