SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[specialty](
	[specID] [bigint] IDENTITY(4,1) NOT NULL,
	[specName] [varchar](100) NOT NULL,
	[num1] [varchar](10) NULL,
	[num2] [varchar](10) NULL,
	[num3] [varchar](10) NULL,
 CONSTRAINT [PK_specialty] PRIMARY KEY CLUSTERED 
(
	[specID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
