SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[armclass](
	[armclassID] [bigint] NOT NULL,
	[armclassName] [varchar](50) NOT NULL,
	[oldName] [varchar](50) NULL,
	[useWire] [bit] NOT NULL,
 CONSTRAINT [PK_armclass] PRIMARY KEY CLUSTERED 
(
	[armclassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[armclass] ADD  CONSTRAINT [DF_armclass_useWire]  DEFAULT ((0)) FOR [useWire]
GO
