SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[file_models](
	[simID] [bigint] IDENTITY(1,1) NOT NULL,
	[pwdocID] [bigint] NOT NULL,
	[modID] [bigint] NOT NULL,
	[modName] [varchar](250) NULL,
	[dtID] [bigint] NULL,
	[modCell] [bit] NULL,
 CONSTRAINT [PK_file_models] PRIMARY KEY CLUSTERED 
(
	[simID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
