SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[simserv_errors](
	[errID] [bigint] IDENTITY(1,1) NOT NULL,
	[tableName] [varchar](50) NOT NULL,
	[errorText] [varchar](max) NULL,
 CONSTRAINT [PK_simserv_errors] PRIMARY KEY CLUSTERED 
(
	[errID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
