SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[zNW_rebuild](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[project] [varchar](50) NOT NULL,
	[building] [varchar](50) NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_zNW_rebuild] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[zNW_rebuild] ADD  CONSTRAINT [DF_zNW_rebuild_status]  DEFAULT ((0)) FOR [status]
GO
