SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[i_CeilingProperties](
	[simID] [bigint] NOT NULL,
	[dtID] [bigint] NULL,
 CONSTRAINT [PK_i_CeilingProperties] PRIMARY KEY CLUSTERED 
(
	[simID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[i_CeilingProperties] ADD  CONSTRAINT [DF_i_CeilingProperties_simID]  DEFAULT ((0)) FOR [simID]
GO
