SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[view_pw_dms_doc]
AS
SELECT
[o_docguid]
,[o_projguid]
,[o_projectno]
,[o_itemno]
,[o_filename]
,[o_itemname]
,[o_itemdesc]
,[o_version]
,[o_version_seq]
,[o_proposalno]
,[o_creatorno]
,[o_credatetime]
,[o_mgrtype]
,[o_managerno]
,[o_updaterno]
,[o_updatetime]
,[o_dmsstatus]
,[o_dmsuserno]
,[o_dmsdate]
,[o_fupdatetime]
,[o_flocktime]
,[o_fupdaterno]
,[o_flockerno]
,[o_size]
,[o_filetype]
,[o_itemtype]
,[o_itemflags]
,[o_storno]
,[o_conode]
,[o_setno]
,[o_settype]
,[o_workflowno]
,[o_stateno]
,[o_applno]
,[o_departno]
,[o_origguid]
,[o_original]
,[o_wspaceprofno]
,[o_extra_no]
,[o_extra_attr]
,[o_locationid]
,[o_locationsource]
,[o_filerevision]
,[o_overlaps]
,[o_mimetype]
,[o_aclno]
FROM [pw-srv.sp.spbaep.ru].[pw_aep].[dbo].[dms_doc]
union
SELECT
[o_docguid]
,[o_projguid]
,[o_projectno]
,[o_itemno]
,[o_filename]
,[o_itemname]
,[o_itemdesc]
,[o_version]
,[o_version_seq]
,[o_proposalno]
,[o_creatorno]
,[o_credatetime]
,[o_mgrtype]
,[o_managerno]
,[o_updaterno]
,[o_updatetime]
,[o_dmsstatus]
,[o_dmsuserno]
,[o_dmsdate]
,[o_fupdatetime]
,[o_flocktime]
,[o_fupdaterno]
,[o_flockerno]
,[o_size]
,[o_filetype]
,[o_itemtype]
,[o_itemflags]
,[o_storno]
,[o_conode]
,[o_setno]
,[o_settype]
,[o_workflowno]
,[o_stateno]
,[o_applno]
,[o_departno]
,[o_origguid]
,[o_original]
,[o_wspaceprofno]
,[o_extra_no]
,[o_extra_attr]
,[o_locationid]
,[o_locationsource]
,[o_filerevision]
,[o_overlaps]
,[o_mimetype]
,[o_aclno]
FROM [pwrk.sp.spbaep.ru].[pw_aep_con].[dbo].[dms_doc]


GO
