SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[i_Well](
	[simID] [bigint] NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](255) NULL,
	[OuterDiameter] [varchar](50) NULL,
	[Material] [varchar](255) NULL,
	[dtID] [bigint] NULL,
 CONSTRAINT [PK_i_Well] PRIMARY KEY CLUSTERED 
(
	[simID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
