SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[i_SecondSteelSpec](
	[simID] [bigint] NOT NULL,
	[SubCode] [varchar](50) NULL,
	[Position] [int] NULL,
	[dtID] [bigint] NULL,
 CONSTRAINT [PK_i_SecondSteelSpec] PRIMARY KEY CLUSTERED 
(
	[simID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[i_SecondSteelSpec] ADD  CONSTRAINT [DF_i_SecondSteelSpec_simID]  DEFAULT ((0)) FOR [simID]
GO
