SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[i_WindowProperties](
	[simID] [bigint] NOT NULL,
	[KKS] [varchar](50) NULL,
	[dtID] [bigint] NULL,
	[Type] [varchar](50) NULL,
	[FireResistance] [varchar](50) NULL,
 CONSTRAINT [PK_i_WindowProperties] PRIMARY KEY CLUSTERED 
(
	[simID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
