SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[filetech](
	[fileID] [bigint] NOT NULL,
	[filePath] [varchar](300) NOT NULL,
	[fileProjID] [bigint] NOT NULL,
 CONSTRAINT [PK_filetech] PRIMARY KEY CLUSTERED 
(
	[fileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[filetech] ADD  CONSTRAINT [DF_filetech_fileProjID]  DEFAULT ((0)) FOR [fileProjID]
GO
