SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[elemCodes](
	[codeID] [bigint] IDENTITY(1,1) NOT NULL,
	[simID] [bigint] NOT NULL,
	[codeFull] [varchar](50) NOT NULL,
	[codeNum] [bigint] NOT NULL,
	[codeShort] [varchar](30) NULL,
 CONSTRAINT [PK_elemCodes] PRIMARY KEY CLUSTERED 
(
	[codeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[elemCodes] ADD  CONSTRAINT [DF_elemCodes_codeNum]  DEFAULT ((0)) FOR [codeNum]
GO
