SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[i_Slab](
	[simID] [bigint] NOT NULL,
	[Thickness] [bigint] NULL,
	[Type] [varchar](50) NULL,
	[dtID] [bigint] NULL,
	[AreaBottomNet] [real] NULL,
	[AreaBottomGross] [real] NULL,
	[AreaSideNet] [real] NULL,
	[AreaSideGross] [real] NULL,
 CONSTRAINT [PK_i_Slab3] PRIMARY KEY CLUSTERED 
(
	[simID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
