SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[o_fireComp](
	[fcID] [bigint] IDENTITY(1,1) NOT NULL,
	[fcCode] [varchar](150) NOT NULL,
	[fcFireRes] [int] NOT NULL,
	[fcFloorArea] [real] NULL,
	[fcFireLoad] [varchar](50) NULL,
	[fcRoomCodes] [varchar](max) NULL,
 CONSTRAINT [PK_o_fireComp2] PRIMARY KEY CLUSTERED 
(
	[fcID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_o_fireComp] UNIQUE NONCLUSTERED 
(
	[fcCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [_dta_index_o_fireComp_13_1732201221__K1_2_6] ON [dbo].[o_fireComp]
(
	[fcID] ASC
)
INCLUDE([fcCode],[fcFireRes]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[o_fireComp] ADD  CONSTRAINT [DF_o_fireComp_fcFireRes]  DEFAULT ((0)) FOR [fcFireRes]
GO
