SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[view_pw_dms_proj]
AS
SELECT
[o_projguid]
,[o_pprjguid]
,[o_projectno]
,[o_envno]
,[o_parentno]
,[o_projectcode]
,[o_projectname]
,[o_projectdesc]
,[o_version]
,[o_version_seq]
,[o_mgrtype]
,[o_projectmgr]
,[o_defaultstor]
,[o_creatorno]
,[o_credatetime]
,[o_subprojects]
,[o_updaterno]
,[o_updatetime]
,[o_workflowno]
,[o_stateno]
,[o_type]
,[o_archiveno]
,[o_wspaceprofno]
,[o_extra_attr]
,[o_locationid]
,[o_locationsource]
,[o_classid]
,[o_flags]
,[o_instanceid]
,[o_aclno]
FROM [pw-srv.sp.spbaep.ru].[pw_aep].[dbo].[dms_proj]
union
SELECT
[o_projguid]
,[o_pprjguid]
,[o_projectno]
,[o_envno]
,[o_parentno]
,[o_projectcode]
,[o_projectname]
,[o_projectdesc]
,[o_version]
,[o_version_seq]
,[o_mgrtype]
,[o_projectmgr]
,[o_defaultstor]
,[o_creatorno]
,[o_credatetime]
,[o_subprojects]
,[o_updaterno]
,[o_updatetime]
,[o_workflowno]
,[o_stateno]
,[o_type]
,[o_archiveno]
,[o_wspaceprofno]
,[o_extra_attr]
,[o_locationid]
,[o_locationsource]
,[o_classid]
,[o_flags]
,[o_instanceid]
,[o_aclno]
FROM [pwrk.sp.spbaep.ru].[pw_aep_con].[dbo].[dms_proj]


GO
